h1 {
    color: rgb(255, 0, 0);
}

.block {

    background-color: rgb(241, 211, 221);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: %;
    margin-right: 5%;
}


img {
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 15px;

}

h2 {
    color: pink;
    text-align: center;
    background-color: aliceblue;
    border-radius: 15px;
}

h1 {
    color: rgb(241, 221, 221);
    text-align: center;
}

ul {
    background-color: rgb(241, 211, 221);
}